@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

        @if (Model.ShowMessage)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
    @Model.Message
</div>
}

<div class="text-center">
    <br>
    <img src="Assets/Taylor_CV_Photo_Circle.png" alt="Taylor Bennett" style="width: 20%; height: 20%" />
    <h1 class="display-3">Welcome<br></h1>

    <p>
        My name is <strong>Taylor Bennett</strong> and I am 24 year old who is currently based on the North Shore of Auckland, New Zealand.

        <br><br>Since a young age I have always been naturally curious person who is fascinated with technology, psychology and sports. I grew up playing
        games on computer and alongside this I played rugby and had a love for golf. I eventually gave up rugby to put more focus on golf, which led to me
        trying to pursue it as a profession for a couple of years. These couple of years I treated as gap years, to which I had decided at age 20 I would attend
        university and study a Major in Business Psychology with a Minor in Computer Science. If you wish to see papers I took at university, please visit my
        <a class="link" asp-area="" asp-page="/University">university page</a>.


        <br><br> About a year before I started university, I began working at an organisation called Benefitz with whom specialise in Print, Design
        and Advertising. Here my role was that of a part time student, to which I was exposed to many different areas of the business. Notably, I
        gained skill and experience by undertaking projects in the following areas: online print store management/admin, print work flow management, logic configurations
        using Microsoft Flow, IT, inventory management, print machine operation, LED advertising screens and accompanied software, delivery driving
        and sign writing.

        <br><br>At university, I picked Business Psychology as a major due to when I was playing golf. Golf is a game that requires mental resilience as it is you
        vs yourself and the course, accompanied with this is the discipline and hard work it takes to develop and refine skills. This led to a
        fascination with understanding psychological aspects of others and I, in order to hopefully be able to efficiently learn and improve myself
        (not just in golf) but it also helps with trying to do the same for others in the form of teaching.

        <br><br>The reason why I picked Computer Science is due to computers always being a big part of my life growing up and I always had a
        fascination with how it and things on it worked. Which I normally figured out through playing with it, breaking it or trying to fix it.
        When I began learning programming at university I quickly discovered that I really enjoyed it, as solving problems appeals to me and it
        also presents a chance for me to learn how things work under the hood, which satisfies my curiosity itch. So essentially, software development
        presents challenges that I like as I am someone who loves to constantly solve problems, learn and improve.

        <br><br>Software development also combines three areas of interest, with the first being obviously the technical side of things.
        Then the second being the human and logistical side of it, this being how processes and the collaboration between people come together
        to hopefully produce successful software. And lastly, the third being the business aspect, which relates to the combination of the
        first two, with successful software hopefully being produced, which is stable, future proof and profitable for both parties, but also serves a purpose by solving a
        problem and therefore provides real value to the market and customer in some degree.

        <br><br><strong>Currently</strong>, I am still involved in sports and I play in a 11 aside winter football (soccer) with a bit of casual
        golf on the side. I am also finishing my final paper at university via distance learning and the paper is based on processes in
        software development. Alongside this, I have been working on personal projects in order to teach myself and get more familiar with different languages 
        and frameworks that are used in commercial development. At the minute, I am getting familiar with C#, ASP.NetCore, SQLITE, RAZOR PAGES, CSS & HTML, through building projects.

        <br><br>During my time at university I also worked in languages such as C, C++ & Java.
        <br />If you wish to view any of these said projects, please check out my <a class="link" asp-area="" asp-page="/Portfolio">portfolio page</a> or my <a href="https://github.com/twolar">github</a>.
        <br />(In terms of university projects, I am missing a few due to not having github or archiving them during that time.)

        <br><br><strong>What can I bring to the table at an organisation?</strong>

        <br>I believe I can bring an interesting combination to the table with the knowledge/experience I already have, but also the knowledge
        I seek to learn, in relation to the technical side of software/web development, but also in the human & business side of things.
    </p>
</div>