@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <br>
    <img src="Assets/Taylor_CV_Photo_Circle.png" alt="Taylor Bennett" style="width: 20%; height: 20%" />
    <h1 class="display-3" >Welcome<br></h1>

    <p> 
        My name is <strong>Taylor Bennett</strong> and I am 24 year old who is currently based on the North Shore of Auckland, New Zealand.

        <br><br>Since a young age I have always been naturally curious person who is  fascinated with technology, psychology and sports. 
        I grew up playing games on computer and alongside this I played rugby and had a love for golf. I eventually gave up rugby to put more 
        focus on golf, which led to me trying to pursue it as a profession for a couple of years. These couple of years I treated as gap years, 
        to which I had decided at age 20 I would attend university. With me deciding to study a Major in Business Psychology with a Minor in 
        Computer Science. 
        
        <br><br>I picked Business Psychology as a major due to when I was playing golf. Golf is a game that requires mental resilience as it is you 
        vs yourself and the course, accompanied with this is the discipline and hard work it takes to develop and refine skills. This led to a 
        fascination with understanding psychological aspects of others and I, in order to hopefully be able to efficiently learn and improve myself 
        but it also helps with trying to do the same for others through the means of teaching. I picked the business focused aspect of psycology, 
        as I knew I would be heading into the business world, so having the psychology tailored more towards that will hopefully help me now 
        and in the future. 
        
        <br><br>The reason why I picked Computer Science is due to computers being a big part of my life growing up and I always had a
        fascination with how it and things on it worked. This led to me always trying to figure how these things worked, which was normally 
        done through playing with it, breaking it or trying to fix it. When I began to learn programming at university I quickly discovered 
        that I really enjoyed it, as I enjoy solving problems and understanding how things work. Essentially, I like the challenge that it 
        presents in this way because I am someone who loves to constantly learn and evolve, so it presents a good opportunity in that aspect.

        <br><br>Software development also combines three areas of interest, with the first being obviously the technical side of things. 
        Then the second being the human and logistical side of it, this being how processes and the collaboration between people come together 
        to hopefully produce successful software. And lastly, the third being the business aspect, which relates to the combination of the 
        first two, with successful software hopefully being produced, which is profitable for both parties, but also serves a purpose by solving a 
        problem and therefore provides real value to the market and customer in some degree.

        <br><br><strong>Currently</strong>, I am still involved in sports and I play in a 11 aside winter football (soccer) with a bit of casual
        golf on the side. I am also finishing my final paper at university via distance learning, the paper is based on processes in 
        software development. Alongside this, I have been working on personal projects in order to teach myself and get more familiar with different 
        languages and frameworks using in commercial development. With specific examples being C#, ASP.NetCore, SQL, VanillaJS, CSS & HTML.

        <br><br>During my time at university we worked in languages such as C, C++ & Java. You can view some projects created in these either 
        on my <a class="link" asp-area="" asp-page="/Portfolio">portfolio page</a> or my <a href="https://github.com/twolar">github</a>.

        <br><br><strong>What can I bring to the table at an organisation?</strong>
        
        <br>I believe I can bring an interesting combination to the table with the knowledge/experience I already have, but also the knowledge 
        I seek to learn, in relation to the technical side of software/web development, but also in the human & business side of things. This is  
        due to a high level of curiosity and the motivation to learn and improve.
    </p>
</div>