@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Portfolio</h1>
    <a href="https://github.com/twolar" target="_blank">Click here to see my Github</a>
</div>
