@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Portfolio</h1>
    <p>Below is a list of all my projects. 
    <br />They are in order from top to bottom, based on when they were last updated.
    <br />(this page pulls all public repositories from my <a href="https://github.com/twolar" target="_blank">Github</a> via Github's API)</p>
</div>

<div class="row justify-content-center">
    @foreach (var repo in Model.GitHubRepos.Reverse())
    {
        <div class= "p-3 text-center">
            <div class="card shadow session h-100">
                <div class="card-header">
                    <h5 class="card-title">
                        <a href="@repo.html_url" target="_blank">@repo.name</a>
                    </h5>
                </div>
                <div class="card-footer">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a>Last Updated: @repo.updated_at.ToString("dd MMM yyyy H:mm")</a>
                        </li>
                        <li class="list-inline-item">
                            <a>Created: @repo.created_at.ToString("dd/MM/yyyy")</a>
                        </li>

                    </ul>
</div>
</div>
</div>
}
</div>