@page
@model UniversityModel
@{
    ViewData["Title"] = "University";
}

<div class="text-center">
    <h1 class="display-3">University</h1>
    <p>
        Below you will find my university transcript.
    </p>
</div>

<div class="row font-weight-light">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">PaperName</th>
                <th scope="col">PaperLevel</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">2019</th>
                <th scope="col">One</th>
                <th scope="col">175343 - Personnel Psychology and Career Development</th>
                <th scope="col">300</th>
                <th scope="col">B-</th>
            </tr>
            <tr>
                <th scope="col">2019</th>
                <th scope="col">One</th>
                <th scope="col">175316 - Evolution, Culture and Mind</th>
                <th scope="col">300</th>
                <th scope="col">A-</th>
            </tr>
            <tr>
                <th scope="col">2019</th>
                <th scope="col">One</th>
                <th scope="col">175302 - Abnormal and Therapeutic Psychology</th>
                <th scope="col">300</th>
                <th scope="col">B</th>
            </tr>
            <tr>
                <th scope="col">2019</th>
                <th scope="col">One</th>
                <th scope="col">159334 - Computer Networks</th>
                <th scope="col">300</th>
                <th scope="col">B+</th>
            </tr>
            <tr>
                <th scope="col">2018/19</th>
                <th scope="col">Summer School</th>
                <th scope="col">159201 - Algorithms and Data Structures</th>
                <th scope="col">200</th>
                <th scope="col">B-</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">Two</th>
                <th scope="col">230310 - Tū Tira Mai: Practising Engagement</th>
                <th scope="col">300</th>
                <th scope="col">B+</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">Two</th>
                <th scope="col">175345 - Organisational Psychology</th>
                <th scope="col">300</th>
                <th scope="col">B</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">Two</th>
                <th scope="col">152336 - Leadership Practice</th>
                <th scope="col">300</th>
                <th scope="col">B+</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">Two</th>
                <th scope="col">152304 - Managing Services</th>
                <th scope="col">300</th>
                <th scope="col">B</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">One</th>
                <th scope="col">175206 - Memory and Cognition</th>
                <th scope="col">200</th>
                <th scope="col">B-</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">One</th>
                <th scope="col">159234 - Object-Oriented Programming</th>
                <th scope="col">200</th>
                <th scope="col">C</th>
            </tr>
            <tr>
                <th scope="col">2018</th>
                <th scope="col">One</th>
                <th scope="col">114241 - Principles of Human Resources Management</th>
                <th scope="col">200</th>
                <th scope="col">B-</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">Two</th>
                <th scope="col">230210 - Tu Rangaranga: Global Encounters</th>
                <th scope="col">200</th>
                <th scope="col">B+</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">Two</th>
                <th scope="col">175201 - Social Psychology</th>
                <th scope="col">200</th>
                <th scope="col">B</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">Two</th>
                <th scope="col">159102 - Computer Science Fundamentals</th>
                <th scope="col">100</th>
                <th scope="col">C+</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">One</th>
                <th scope="col">175203 - Introduction to Psychological Research</th>
                <th scope="col">200</th>
                <th scope="col">C</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">One</th>
                <th scope="col">152200 - Contemporary Management</th>
                <th scope="col">200</th>
                <th scope="col">C</th>
            </tr>
            <tr>
                <th scope="col">2017</th>
                <th scope="col">One</th>
                <th scope="col">114241 - Managing Human Resources</th>
                <th scope="col">200</th>
                <th scope="col">D</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">Two</th>
                <th scope="col">230112 - Tu Arohae: Critical Thinking</th>
                <th scope="col">100</th>
                <th scope="col">B</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">Two</th>
                <th scope="col">230111 - Tu Kupu: Writing and Inquiry</th>
                <th scope="col">100</th>
                <th scope="col">B-</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">Two</th>
                <th scope="col">175102 - Psychology as a Natural Science</th>
                <th scope="col">100</th>
                <th scope="col">C+</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">One</th>
                <th scope="col">230110 - Turangawaewae: Identity & Belonging in Aotearoa NZ</th>
                <th scope="col">100</th>
                <th scope="col">C+</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">One</th>
                <th scope="col">175101 - Psychology as a Social Science</th>
                <th scope="col">100</th>
                <th scope="col">C+</th>
            </tr>
            <tr>
                <th scope="col">2016</th>
                <th scope="col">One</th>
                <th scope="col">159101 - Programming Fundamentals</th>
                <th scope="col">100</th>
                <th scope="col">B</th>
            </tr>
        </tbody>
    </table>
</div>