@page "{id:int}"
@model EditBlogPostModel
@{
    ViewData["Title"] = "Edit Blog Post";
}

<h1>EditBlogPost</h1>
@if (Model.ShowMessage)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
    @Model.Message
</div>
}

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="BlogPost.ID" type="hidden" />
    <div class="form-group">
        <label asp-for="BlogPost.BlogPostTitle" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BlogPost.BlogPostTitle" class="form-control" />
            <span asp-validation-for="BlogPost.BlogPostTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BlogPost.BlogPostBody" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="BlogPost.BlogPostBody" class="form-control"></textarea>
            <span asp-validation-for="BlogPost.BlogPostBody" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BlogPost.BlogPostDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BlogPost.BlogPostDate" class="form-control" />
            <span asp-validation-for="BlogPost.BlogPostDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BlogPost.Author" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BlogPost.Author" class="form-control" />
            <span asp-validation-for="BlogPost.Author" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}